CIS-Daten.xlsx
Einzelmeldungsreport_HTS-Cargo_GmbH_1.xlsx
Einzelmeldungsreport_HTS-Cargo_GmbH_2.xlsx
Einzelmeldungsreport_HTS-Cargo_GmbH_3.xlsx
Einzelmeldungsreport_HTS-Cargo_GmbH_4.xlsx
Einzelmeldungsreport_HTS-Cargo_GmbH_5.xlsx
Ist_Daten_mit_Tournummern.csv
df_ist_merged.csv